# To run this test suite, we need to set up some credentials because we're running real HTTP requests.
# Make sure you have a working Gravatar account, and enter the following options:
primary_email: email@example.com
email: email@example.com
api_key: YOUR_API_KEY

# The primary email is the one that's marked 'primary' on your Gravatar account page. Both emails can
# be the same. The API Key is your Gravatar API key, which you can optionally replace with:
#   password: YOUR_GRAVATAR_PASSWORD
#
# Take care not to commit your credentials!
